<li class="nav-item <%= "active open" if ["erp/contacts/backend/contacts",
                                          "erp/contacts/backend/messages"].include?(params[:controller]) %>">
    <a href="javascript:;" class="nav-link nav-toggle">
        <i class="fa fa-book"></i>
        <span class="title">Quản lý danh bạ</span>
        <% if ["erp/contacts/backend/contacts",
               "erp/contacts/backend/messages"].include?(params[:controller]) %>
            <span class="selected"></span>
            <span class="arrow open"></span>
        <% else %>
            <span class="arrow"></span>
        <% end %>
    </a>
    <ul class="sub-menu">
        <li class="nav-item <%= "active open" if ["erp/corporators/backend/corporators"].include?(params[:controller]) %>">
            <a href="<%= erp_corporators.backend_corporators_path %>" class="nav-link ">
                <i class="fa fa-black-tie"></i>
                <span class="title">Thành viên HĐ/BQT</span>
                <% if ["erp/corporators/backend/corporators"].include?(params[:controller]) %>
                <span class="selected"></span>
                <% end %>
            </a>
        </li>
        <li class="nav-item <%= "active open" if ["erp/contacts/backend/contacts"].include?(params[:controller]) %>">
            <a href="<%= erp_contacts.backend_contacts_path %>" class="nav-link ">
                <i class="fa fa-address-book"></i>
                <span class="title">Danh sách liên hệ</span>
                <% if ["erp/contacts/backend/contacts"].include?(params[:controller]) %>
                <span class="selected"></span>
                <% end %>
            </a>
        </li>
        <li class="nav-item <%= "active open" if ["erp/contacts/backend/messages"].include?(params[:controller]) %>">
            <a href="<%= erp_contacts.backend_messages_path %>" class="nav-link ">
                <i class="fa fa-comments-o"></i>
                <span class="title">Tin nhắn/Yêu cầu</span>
                <% if ["erp/contacts/backend/messages"].include?(params[:controller]) %>
                <span class="selected"></span>
                <% end %>
            </a>
        </li>
    </ul>
</li>