<footer class="main-footer">
    <div class="container">
        <div class="row">                
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="footer-col links">
                    <h3>Lĩnh Vực <span>Hoạt Động</span></h3>
                    <ul>
                        <li><a href="#">Tư vấn</a></li>
                        <li><a href="#">Thương mại - Dịch vụ</a></li>
                        <li><a href="#">Sản xuất Coffee 249</a></li>
                        <li><a href="#">Sản xuất Trà Gừng 249</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="footer-col links">
                    <h3>Liên Kết <span>Nhanh</span></h3>
                    <ul>
                        <li><%= link_to 'Giới thiệu', erp_songhanhcts.about_us_path %></li>
                        <li><%= link_to "Đối tác liên kết", erp_songhanhcts.partners_path %></li>
                        <li><%= link_to "Tin tức", erp_songhanhcts.news_path %></li>
                        <li><%= link_to "Thông tin tuyển dụng", erp_songhanhcts.recruitment_path %></li>
                        <li><%= link_to "Liên hệ & Góp ý", erp_songhanhcts.contact_us_path %></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="footer-col about">
                    <h3>Về <span>SONG HANH cts</span></h3>
                    <% @company_info = Erp::Contacts::Contact.get_main_contact %>
                    <% if !@company_info.nil? %>
                        <% if @company_info.note.present? %>
                            <p class="text-justify"><%= @company_info.note %></p>
                        <% end %>
                        <ul>
                            <li>
                                <i class="fa fa-home" aria-hidden="true"></i>
                                <%= @company_info.contact_name %>
                            </li>
                            <li>
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                Địa chỉ: <%= display_contact_address(@company_info) %>
                            </li>
                            <li>
                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                Email: <%= mail_to @company_info.email, @company_info.email %>
                            </li>
                            <li>
                                <i class="fa fa-tty" aria-hidden="true"></i>
                                Điện thoại: <%= link_to @company_info.phone, "tel:#{@company_info.phone}" %>
                            </li>
                            <li>
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                Hotline: <%= link_to @company_info.hotline, "tel:#{@company_info.hotline}" %>
                            </li>
                        </ul>
                    <% end %>
                </div>
            </div>            
        </div>
    </div>
</footer>