<header class="main-navbar">
    <div class="topbar-area">
      <div class="container">
          <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 center767">
                  <ul class="topbar-info">
                      <li><p>Chào mừng Quý khách đến với SONG HÀNH cts</p></li>
                  </ul>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 center767">
                <div class="social-icon clearfix">
                    <ul>
                        <li><a href="javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li class="language">
                            <a href="javascript:void(0)s">
                                <% if true %>
                                    <img src="/songhanhcts/images/flags/en.svg">
                                <% else %>
                                    <img src="/songhanhcts/images/flags/vi.svg">
                                <% end %>
                            </a>
                        </li>
                    </ul>
                </div>
              </div>
          </div>
      </div>
    </div>
    <!-- Header navbar start -->
    <div class="header-navbar" id="navbar-main">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-default">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="<%= erp_songhanhcts.home_path %>"><img src="/songhanhcts/images/logo_songhanh.png" alt="">
                            </a>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" data-hover="dropdown" data-animations="fadeIn">
                            <ul class="nav navbar-nav navbar-right">
                                <li <%= 'class="active"'.html_safe if params[:controller] == 'erp/songhanhcts/frontend/home' && params[:action] == 'index' %>>
                                    <%= link_to 'Trang chủ', erp_songhanhcts.home_path %>
                                </li>
                                <li <%= 'class="active"'.html_safe if params[:controller] == 'erp/songhanhcts/frontend/about_us' %>>
                                    <%= link_to 'Giới thiệu', erp_songhanhcts.about_us_path %>
                                </li>
                                <li class="dropdown <%= 'active' if params[:controller] == 'erp/songhanhcts/frontend/service' %>">
                                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lĩnh Vực Hoạt Động <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                    <ul class="dropdown-menu">
                                        <%
                                            @service_menus = Erp::Articles::Category.get_categories_by_alias_service
                                                .where(parent_id: nil)
                                                .order('erp_articles_categories.custom_order ASC')
                                        %>
                                        <% @service_menus.each do |menu| %>
                                            <% @children = menu.children.get_active %>
                                            <% if @children.empty? %>
                                                <li>
                                                    <%= link_to menu.name, service_level_1_link(menu) %>
                                                </li>
                                            <% else %>
                                                <li class="dropdown-submenu">
                                                    <a href="javascript:void(0)"
                                                       class="dropdown-toggle"
                                                       data-toggle="dropdown-submenu"
                                                       role="button"
                                                       aria-haspopup="true"
                                                       aria-expanded="false">
                                                       <%= menu.name %>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <% @children.each do |child_menu| %>
                                                            <li>
                                                                <%= link_to child_menu.name, service_level_2_link(child_menu) %>
                                                            </li>
                                                        <% end %>
                                                    </ul>
                                                </li>
                                            <% end %>
                                        <% end %>
                                    </ul>
                                </li>
                                <li class="<%= 'active' if params[:controller] == 'erp/songhanhcts/frontend/partner' %>">
                                    <%= link_to "Đối Tác Liên Kết", erp_songhanhcts.partners_path %>
                                </li>
                                <li class="<%= 'active' if params[:controller] == 'erp/songhanhcts/frontend/blog' &&
                                    (params[:action] == 'news' || params[:action] == 'news_detail') %>">
                                    <%= link_to "Tin Tức", erp_songhanhcts.news_path %>
                                </li>
                                <li class="<%= 'active' if params[:controller] == 'erp/songhanhcts/frontend/blog' &&
                                    (params[:action] == 'recruitment' || params[:action] == 'recruitment_detail') %>">
                                    <%= link_to "Tuyển Dụng", erp_songhanhcts.recruitment_path %>
                                </li>
                                <li class="<%= 'active' if params[:controller] == 'erp/songhanhcts/frontend/contact_us' %>">
                                    <%= link_to "Liên Hệ", erp_songhanhcts.contact_us_path %>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>