<header class="main-navbar">
    <div class="topbar-area">
      <div class="container">
          <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 center767">
                  <ul class="topbar-info">
                      <li><p>Chào mừng bạn đến với website SONG HANH cts!</p></li>
                  </ul>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 center767">
                <div class="social-icon clearfix">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
              </div>
          </div>
      </div>
    </div>
    <!-- Header navbar start -->
    <div class="header-navbar" id="navbar-main">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-default">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="<%= erp_songhanhcts.home_path %>"><img src="/songhanhcts/images/logo_songhanh_ngang.png" alt="">
                            </a>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" data-hover="dropdown" data-animations="fadeIn">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="active"><%= link_to 'Trang Chủ', erp_songhanhcts.home_path %></li>
                                <li class="dropdown">
                                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Giới Thiệu <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="">Về Chúng Tôi</a>
                                        </li>
                                        <li>
                                            <a href="">Tầm Nhìn</a>
                                        </li>
                                        <li>
                                            <a href="">Sứ Mệnh</a>
                                        </li>
                                        <li>
                                            <a href="">Ban Lãnh Đạo</a>
                                        </li>
                                        <li>
                                            <a href="">Nhận Diện Thương Hiệu</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lĩnh Vực Hoạt Động <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                    <ul class="dropdown-menu mega-menu">
                                        <div class="row">
                                          <div class="col-md-4 col-sm-4">
                                            <li><strong><a href="<%= erp_songhanhcts.service_path %>">Tư Vấn</a></strong>
                                                <li><a href="">Quản Trị Nguồn Nhân Lực</a></li>
                                                <li><a href="">Thiết Kế Hệ Thống Nhận Diện Thương Hiệu</a></li>
                                                <li><a href="">Quản Trị Phát Triển Kinh Doanh</a></li>
                                                <li><a href="">Pháp Luật</a></li>
                                                <li><a href="">Biểu Mẫu</a></li>
                                            </li>
                                          </div>
                                          <div class="col-md-4 col-sm-4">
                                            <li><strong><a href="">Thương Mại - Dịch Vụ</a></strong></li>
                                          </div>
                                          <div class="col-md-4 col-sm-4">
                                            <li><strong><a href="">Sản Xuất</a></strong>
                                                <li class="no-border-bottom">
                                                    <div class="row">
                                                        <div class="col-md-6 col-sm-6 no-hover">
                                                            <a href="">
                                                                <img src="/songhanhcts/images/img-menu-01.jpg" class="img-menu" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="col-md-6 col-sm-6 no-hover">
                                                            <a href="">
                                                                <img src="/songhanhcts/images/img-menu-02.jpg" class="img-menu" alt="">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </li>
                                          </div>
                                        </div>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="<%= erp_songhanhcts.partners_path %>" title="Đối Tác Liên Kết" class="dropdown-toggle">
                                    <!--<a href="javascript:void(0)" title="Đối Tác Liên Kết" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">-->
                                        Đối Tác Liên Kết
                                         <i class="fa fa-angle-down" aria-hidden="true"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><%= link_to 'SH Coffee', erp_songhanhcts.partner_detail_path, title: 'SH Coffee' %></li>
                                        <li><%= link_to 'AB Coffee', erp_songhanhcts.partner_detail_path, title: 'AB Coffee' %></li>
                                        <li><%= link_to 'AH Coffee', erp_songhanhcts.partner_detail_path, title: 'AH Coffee' %></li>
                                        <li><%= link_to 'Mạng Lưới Phân Phối', '', title: 'Mạng Lưới Phân Phối' %></li>
                                    </ul>
                                </li>
                                <li><%= link_to "Tin Tức", erp_songhanhcts.news_path %></li>
                                <li><%= link_to "Tuyển Dụng", erp_songhanhcts.recruitment_path %></li>
                                <li><%= link_to "Liên Hệ", erp_songhanhcts.contact_us_path %></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>