<% title @about.name %>
<!-- Page Title bar -->
<section class="defult-page-title overlay-black">
    <div class="container clearfix">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="page-title-box center991">
                    <div class="page-title-content">
                        <h2><span>Giới thiệu</span></h2>
                            <%= link_to "Trang chủ", erp_songhanhcts.home_path %> <i class="fa fa-angle-double-right"></i>
                            <%= link_to @about.name, "javascript:void(0)" %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Service Start -->
<section class="about-areas">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="about-col-two">
                    <%= @about.content.html_safe %>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="about-col-two">
                    <%= link_to image_tag(article_image(@about.image, 'large'), alt: @about.name), 'javascript:void(0)' %>
                </div>
            </div>
        </div>
    </div>
</section>

<% if @about.show_company_structure? %>
<!-- Team Style -->
<%= render "erp/songhanhcts/frontend/modules/about_us/team_leaders" %>
<% end %>

<% if @about.show_brand_identity? %>
  <!-- Brands/Banners Style -->
  <%= render "erp/songhanhcts/frontend/modules/about_us/identities" %>
<% end %>