<% title "Nhận diện #{@identity.name}" %>
<!-- Page Title bar -->
<section class="defult-page-title overlay-black">
    <div class="container clearfix">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="page-title-box center991">
                    <div class="page-title-content">
                        <h2><span><%= 'Nhận diện thương hiệu' %></span></h2>
                            <%= link_to "Trang chủ", erp_songhanhcts.home_path %> <i class="fa fa-angle-double-right"></i>
                            <%= link_to "Giới thiệu", erp_songhanhcts.about_us_path %> <i class="fa fa-angle-double-right"></i>
                            <%= link_to @identity.name, "javascript:void(0)" %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Blog Start -->
<section class="blog-details">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="blog-details-col">
                    <h3 class="blog-title" style="text-align: justify;"><%= "Thông tin nhận diện #{@identity.name}" %></h3>
                    <%= @identity.content.html_safe %>
                </div>
            </div>
        </div>
    </div>
</section>