<section class="services-style">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h3>Nội dung <span><%= @current_menu.name %></span></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 column-margin">
                <div class="services-features-two text-center">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <div class="back-color">
                        <h4><%= link_to 'Quản trị nguồn nhân lực', 'javascript:void(0)' %></h4>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered.</p>
                    </div>
                </div>  
            </div>  
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 column-margin">
                <div class="services-features-two text-center">
                    <i class="fa fa-registered" aria-hidden="true"></i>
                    <div class="back-color">
                        <h4><%= link_to 'Thiết kế hệ thống nhận diện thương hiệu', 'javascript:void(0)' %></h4>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered.</p>
                    </div>
                </div>  
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 column-margin">
                <div class="services-features-two text-center">
                    <i class="fa fa-line-chart" aria-hidden="true"></i>
                    <div class="back-color">
                        <h4><%= link_to 'Quản trị phát triển kinh doanh', 'javascript:void(0)' %></h4>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered.</p>
                    </div>
                </div>  
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 column-margin">
                <div class="services-features-two text-center">
                    <i class="fa fa-balance-scale" aria-hidden="true"></i>
                    <div class="back-color">
                        <h4><%= link_to 'Tư vấn pháp lý', 'javascript:void(0)' %></h4>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered.</p>
                    </div>
                </div>  
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 column-margin">
                <div class="services-features-two text-center">
                    <i class="fa fa-balance-scale" aria-hidden="true"></i>
                    <div class="back-color">
                        <h4><%= link_to 'Thiết kế kiến trúc', 'javascript:void(0)' %></h4>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered.</p>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</section>