<% title @blog.name %>
<% full_domain_path = request.env['rack.url_scheme'] + '://' + request.host_with_port %>

<% content_for :metas do %>
    
    <!-- Facebook Open Graph -->
    <meta property="og:url" content="<%= request.url %>"/>
    <meta property="og:type" content="website" />
    <meta property="og:title" content="<%= @blog.name %>"/>
    <% if @meta_description.present? %>
    <meta property="og:description" content="<%= @meta_description %>"/>
    <% else %>
    <meta property="og:description" content="<%= @blog.name %>"/>
    <% end %>
    <meta property="og:image" content="<%= full_domain_path %><%= article_image(@blog.image.large, 'large') %>" />
    
    <!-- Google+ Open Graph -->
    <meta itemprop="name" content="<%= @blog.name %>">
    <% if @meta_description.present? %>
    <meta itemprop="description" content="<%= @meta_description %>">
    <% else %>
    <meta itemprop="description" content="<%= @blog.name %>">
    <% end %>
    <meta itemprop="image" content="<%= full_domain_path %><%= article_image(@blog.image.large, 'large') %>">
<% end %>

<!-- Page Title bar -->
<section class="defult-page-title overlay-black">
  <div class="container clearfix">
      <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
              <div class="page-title-box center991">
                  <div class="page-title-content">
                    <h2>Chi tiết <span>tin tức</span></h2>
                    <p>
                        <%= link_to "Trang chủ", erp_songhanhcts.home_path %> <i class="fa fa-angle-double-right"></i>
                        <%= link_to "Tin tức", erp_songhanhcts.news_path %> <i class="fa fa-angle-double-right"></i>
                        <%= link_to @blog.name, "javascript:void(0)" %>
                    </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<!-- Blog Start -->
<section class="blog-details">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <div class="blog-details-col">
                    <% image_tag(article_image(@blog.image.large, 'large'), alt: @blog.name) %>
                    <h3 class="blog-title" style="text-align: justify; margin-top: 0;"><%= @blog.name %></h3>
                    <div class="blog-meta">
                        <span><i class="fa fa-user-o" aria-hidden="true"></i> SONG HANH cts </span>
                        <span><i class="fa fa-clock-o" aria-hidden="true"></i> <%= relative_time(@blog.created_at) %></span>
                        <span><i class="fa fa-eye" aria-hidden="true"></i> <%= @blog.views %> lượt xem</span>
                    </div>
                    <%= @blog.content.html_safe %>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <%= render "erp/songhanhcts/frontend/modules/blog/news/sidebar" %>
            </div> 
        </div>
    </div>
</section>