<% title "Tuyển dụng" %>
<!-- Page Title bar -->
<section class="defult-page-title overlay-black">
  <div class="container clearfix">
      <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
              <div class="page-title-box center991">
                  <div class="page-title-content">
                    <h2>Tuyển dụng <span>việc làm</span></h2>
                    <p>
                        <%= link_to "Trang chủ", erp_songhanhcts.home_path %> <i class="fa fa-angle-double-right"></i>
                        <%= link_to "Tuyển dụng",
                            "javascript:void(0)" %>
                    </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<!-- Blog Start -->
<section class="blog-area">
    <div class="container">
        <% if !@recruitments.empty? %>
            <div class="row">
                <% @recruitments.each_with_index do |recruitment,index| %>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 fw-600">
                        <div class="blog-col wow fadeIn" data-wow-duration="1s" data-wow-delay=".0s">
                            <div class="blog-img">
                               <%= link_to image_tag(article_image(recruitment.image.medium, 'medium'), alt: recruitment.name), recruitment_link(recruitment) %>
                            </div>
                            <div class="blog-content">
                                <h4><%= link_to recruitment.name, recruitment_link(recruitment) %></h4>
                                <div class="info-bar clearfix">
                                    <ul>
                                        <li><i class="	fa fa-history" aria-hidden="true"></i> <%= recruitment.created_at.strftime('%d/%m/%Y') %></li>
                                        <li class="no-mr"><i class="fa fa-user" aria-hidden="true"></i> SONG HANH cts</li>
                                    </ul>
                                </div>
                                <p><%= short_text(recruitment.content, 20) %>...</p>
                                <%=
                                    link_to 'Chi tiết <i class="fa fa-arrow-right" aria-hidden="true"></i>'.html_safe,
                                            recruitment_link(recruitment),
                                            class: "btn btn-default custom-btn-three my-btn-xs", role: "button"
                                %>
                            </div>
                         </div>
                    </div>
                <% end %>
            </div>
            <% if false %>
                <div class="inner-pagination text-center">
                    <nav aria-label="Page navigation">
                      <ul class="pagination m0">
                        <li>
                          <a href="#" aria-label="Previous">
                            <span aria-hidden="true">«</span>
                          </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li>
                          <a href="#" aria-label="Next">
                            <span aria-hidden="true">»</span>
                          </a>
                        </li>
                      </ul>
                    </nav>
                </div>
            <% end %>
        <% else %>
            <div class="alert alert-warning text-center">
                <i class="fa fa-warning"></i> Hiện tại chưa có thông tin tuyển dụng.
            </div>
        <% end %>
    </div>
</section>