<% title @recruitment.name %>
<!-- Page Title bar -->
<section class="defult-page-title overlay-black">
  <div class="container clearfix">
      <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
              <div class="page-title-box center991">
                  <div class="page-title-content">
                    <h2>Chi tiết <span>tuyển dụng</span></h2>
                    <p>
                      <%= link_to "Trang chủ", erp_songhanhcts.home_path %> <i class="fa fa-angle-double-right"></i>
                      <%= link_to "Tuyển dụng", erp_songhanhcts.recruitment_path %> <i class="fa fa-angle-double-right"></i>
                      <%= link_to @recruitment.name, "javascript:void(0)" %>
                    </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<!-- Blog Start -->
<section class="blog-details">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12">
                <div class="blog-details-col">
                    <%= image_tag(article_image(@recruitment.image.large, 'large'), alt: @recruitment.name) %>
                    <h3 class="blog-title"><%= @recruitment.name %></h3>
                    <div class="blog-meta">
                        <span><i class="fa fa-user-o" aria-hidden="true"></i> SONG HANH cts </span>
                        <span><i class="fa fa-clock-o" aria-hidden="true"></i> <%= relative_time(@recruitment.created_at) %></span>
                        <span><i class="fa fa-eye" aria-hidden="true"></i> 20 lượt xem</span>
                    </div>
                    <%= @recruitment.content.html_safe %>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <%= render "erp/songhanhcts/frontend/modules/blog/career/sidebar" %>
            </div> 
        </div>
    </div>
</section>