<% title "Trợ giúp và liên hệ" %>

<!-- Page Title bar -->
<section class="defult-page-title overlay-black">
  <div class="container clearfix">
      <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
              <div class="page-title-box center991">
                  <div class="page-title-content">
                    <h2>Trợ giúp <span>Liên hệ</span></h2>
                    <p>
                        <%= link_to "Trang chủ", erp_songhanhcts.root_path %> <i class="fa fa-angle-double-right"></i>
                        <%= link_to "Liên hệ", "javascript:void(0)" %></p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<!-- Map -->
<section>
    <div class="container">
        <div id="map" style="width:100%;height:400px;"></div>
    </div>
</section>

<!-- Contact Start -->
<section class="contact-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="title mb-20">
                    <h3>Thông tin liên hệ</h3>
                </div>
                <% if !@company_info.nil? %>
                    <ul class="mb-20">
                        <li>
                            <h4><strong><%= @company_info.contact_name %></strong></h4>
                        </li>
                        <% if display_contact_address(@company_info).present? %>
                            <li>
                                <i class="fa fa-location-arrow" aria-hidden="true"></i> <strong>Địa chỉ:</strong>
                                <%= display_contact_address(@company_info) %>
                            </li>
                        <% end %>
                        <% if @company_info.email.present? %>
                            <li>
                                <i class="fa fa-envelope" aria-hidden="true"></i> <strong>Email:</strong>
                                <%= mail_to @company_info.email, @company_info.email %>
                            </li>
                        <% end %>
                        
                        <%  is_phone = false
                            is_hotline = false
                            is_phone = true if @company_info.phone.present?
                            is_hotline = true if @company_info.hotline.present?
                        %>
                        <% if is_phone == true or is_hotline == true %>
                            <li>
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <% if is_phone == true %>
                                    <strong>Hotline:</strong> <%= link_to @company_info.phone, "tel:#{@company_info.phone}" %>
                                <% end %>
                                <%= ' | ' if (is_phone == true and is_hotline == true) %>
                                <% if is_hotline == true %>
                                    <strong>Hotline:</strong> <%= link_to @company_info.hotline, "tel:#{@company_info.hotline}" %>
                                <% end %>
                            </li>
                        <% end %>                        
                        <% if @company_info.tax_code.present? %>
                            <li>
                                <i class="fa fa-file-text" aria-hidden="true"></i>
                                <strong>Mã số thuế:</strong> <span><%= @company_info.tax_code %></span>
                            </li>
                        <% end %>
                    </ul>
                    <% @company_info.contacts.each do |contact_child| %>
                        <ul class="mb-20">
                            <li>
                                <h4><strong><%= contact_child.contact_name %></strong></h4>
                            </li>
                            <% if display_contact_address(contact_child).present? %>
                                <li>
                                    <i class="fa fa-location-arrow" aria-hidden="true"></i> <strong>Địa chỉ:</strong>
                                    <%= display_contact_address(contact_child) %>
                                </li>
                            <% end %>
                            <% if contact_child.email.present? %>
                                <li>
                                    <i class="fa fa-envelope" aria-hidden="true"></i> <strong>Email:</strong>
                                    <%= mail_to contact_child.email, contact_child.email %>
                                </li>
                            <% end %>
                            <%  is_phone = false
                                is_hotline = false
                                is_phone = true if contact_child.phone.present?
                                is_hotline = true if contact_child.hotline.present?
                            %>
                            <% if is_phone == true or is_hotline == true %>
                                <li>
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <% if is_phone == true %>
                                        <strong>Điện thoại:</strong> <%= link_to contact_child.phone, "tel:#{contact_child.phone}" %>
                                    <% end %>
                                    <%= ' | ' if (is_phone == true and is_hotline == true) %>
                                    <% if is_hotline == true %>
                                        <strong>Hotline:</strong> <%= link_to contact_child.hotline, "tel:#{contact_child.hotline}" %>
                                    <% end %>
                                </li>
                            <% end %>
                        </ul>
                    <% end %>
                <% end %>
            </div>
            <div class="col-md-6">
                <div class="title mb-20">
                    <h3>Gửi yêu cầu trợ giúp hoặc góp ý</h3>
                </div>
                <div class="contact-col">
                    <form id="ajax-contact" method="post" action="php/contact.php">
                        <div class="col-md-12">
                            <input type="text" name="name" id="name" class="form-control" placeholder="Nhập họ & tên của bạn" required>
                        </div>
                        <div class="col-md-6">
                            <input type="email" name="email" id="email" class="form-control" placeholder="Nhập địa chỉ email của bạn"  required>
                        </div>
                        <div class="col-md-6">
                            <input type="email" name="email" id="email" class="form-control" placeholder="Nhập số điện thoại của bạn"  required>
                        </div>
                        <div class="col-md-12">
                            <div class="contact-textarea">
                                <textarea class="form-control" rows="5" placeholder="Vui lòng cung cấp nội dung góp ý hoặc yêu cầu liên hệ của bạn tại đây" id="message" name="message" required></textarea>
                                <button class="btn btn-default my-btn text-center" type="submit" value="Submit Form"><i class="fa fa-paper-plane-o"></i> XÁC NHẬN GỬI</button>
                            </div>
                        </div>
                        <div id="form-messages"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>