<% title "Trợ giúp và liên hệ" %>

<!-- Page Title bar -->
<section class="defult-page-title overlay-black">
  <div class="container clearfix">
      <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
              <div class="page-title-box center991">
                  <div class="page-title-content">
                    <h1><span><%= t('.contact_us') %></span></h1>
                    <p>
                        <%= link_to t('home_page'), erp_songhanhcts.root_path %> <i class="fa fa-angle-double-right"></i>
                        <%= link_to t('.contact'), "javascript:void(0)" %></p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<!-- Map -->
<section>
    <div class="container">
        <div id="map" style="width:100%;height:400px;"></div>
    </div>
</section>

<!-- Contact Start -->
<section class="contact-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="title mb-20">
                    <h2><%= t('.contact_info') %></h2>
                </div>
                <% if !@company_info.nil? %>
                    <ul class="mb-20">
                        <li>
                            <h4><strong><%= @company_info.contact_name %></strong></h4>
                        </li>
                        <% if display_contact_address(@company_info).present? %>
                            <li>
                                <i class="fa fa-location-arrow" aria-hidden="true"></i> <strong><%= t('.address') %>:</strong>
                                <%= display_contact_address(@company_info) %>
                            </li>
                        <% end %>
                        <% if @company_info.email.present? %>
                            <li>
                                <i class="fa fa-envelope" aria-hidden="true"></i> <strong><%= t('.email') %>:</strong>
                                <%= mail_to @company_info.email, @company_info.email %>
                            </li>
                        <% end %>
                        
                        <%  is_phone = false
                            is_hotline = false
                            is_phone = true if @company_info.phone.present?
                            is_hotline = true if @company_info.hotline.present?
                        %>
                        <% if is_phone == true or is_hotline == true %>
                            <li>
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <% if is_phone == true %>
                                    <strong><%= t('.phone') %>:</strong> <%= link_to @company_info.phone, "tel:#{@company_info.phone}" %>
                                <% end %>
                                <%= ' | ' if (is_phone == true and is_hotline == true) %>
                                <% if is_hotline == true %>
                                    <strong><%= t('.hotline') %>:</strong> <%= link_to @company_info.hotline, "tel:#{@company_info.hotline}" %>
                                <% end %>
                            </li>
                        <% end %>                        
                        <% if @company_info.tax_code.present? %>
                            <li>
                                <i class="fa fa-file-text" aria-hidden="true"></i>
                                <strong><%= t('.taxcode') %>:</strong> <span><%= @company_info.tax_code %></span>
                            </li>
                        <% end %>
                    </ul>
                    <% @company_info.contacts.each do |contact_child| %>
                        <ul class="mb-20">
                            <li>
                                <h4><strong><%= contact_child.contact_name %></strong></h4>
                            </li>
                            <% if display_contact_address(contact_child).present? %>
                                <li>
                                    <i class="fa fa-location-arrow" aria-hidden="true"></i> <strong><%= t('.address') %>:</strong>
                                    <%= display_contact_address(contact_child) %>
                                </li>
                            <% end %>
                            <% if contact_child.email.present? %>
                                <li>
                                    <i class="fa fa-envelope" aria-hidden="true"></i> <strong><%= t('.email') %>:</strong>
                                    <%= mail_to contact_child.email, contact_child.email %>
                                </li>
                            <% end %>
                            <%  is_phone = false
                                is_hotline = false
                                is_phone = true if contact_child.phone.present?
                                is_hotline = true if contact_child.hotline.present?
                            %>
                            <% if is_phone == true or is_hotline == true %>
                                <li>
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <% if is_phone == true %>
                                        <strong><%= t('.phone') %>:</strong> <%= link_to contact_child.phone, "tel:#{contact_child.phone}" %>
                                    <% end %>
                                    <%= ' | ' if (is_phone == true and is_hotline == true) %>
                                    <% if is_hotline == true %>
                                        <strong><%= t('.hotline') %>:</strong> <%= link_to contact_child.hotline, "tel:#{contact_child.hotline}" %>
                                    <% end %>
                                </li>
                            <% end %>
                        </ul>
                    <% end %>
                <% end %>
            </div>
            <div class="col-md-6">
                <div class="title mb-20">
                    <h2><%= t('.get_in_touch_with_us') %></h2>
                </div>
                <div class="contact-col">
                    <%= form_for '', url: erp_songhanhcts.contact_us_path,
                        html: {class: "contact_form", id: "ajax-contact-form",  autocomplete: "off"} do |f| %>
                        <div class="col-md-12">
                            <input type="text" name="contact[name]" class="form-control"
                                placeholder="<%= t('.enter_name') %>">
                        </div>
                        <div class="col-md-6">
                            <input type="email" name="contact[email]" class="form-control"
                                placeholder="<%= t('.enter_email') %>">
                        </div>
                        <div class="col-md-6">
                            <input type="text" name="contact[phone]" class="form-control"
                                placeholder="<%= t('.enter_phone_number') %>">
                        </div>
                        <div class="col-md-12">
                            <div class="contact-textarea">
                                <textarea class="form-control"
                                    name="msg[message]"
                                    rows="5"
                                    placeholder="<%= t('.enter_message') %>"
                                    ></textarea>
								<div class="form-notice"></div>
                                <button class="btn btn-default my-btn text-center" type="submit" style="outline: none;">
                                    <i class="fa fa-paper-plane-o"></i> <%= t('.send_to_us') %>
                                </button>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</section>