<% title "Đối Tác Liên Kết" %>

<section class="defult-page-title overlay-black">
    <div class="container clearfix">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="page-title-box center991">
                    <div class="page-title-content">
                        <h1><span><%= @partner.get_name %></span></h1>
                        <%= link_to "Trang Chủ", erp_songhanhcts.home_path %> <i class="fa fa-angle-double-right"></i>
                        <%= link_to "Đối Tác Liên Kết", erp_songhanhcts.partners_path %> <i class="fa fa-angle-double-right"></i>
                        <%= link_to @partner.get_name, "javascript:void(0)", class: 'title-final-name' %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="portfolio-details partner-details">
    <div class="container">
        <h2 class="partner-detail-title">ĐỐI TÁC LIÊN KẾT - <%= @partner.get_name %></h2>
        <div class="row">
            <div class="col-md-6">
                <div class="details-col">
                    <%= image_tag @partner.image_detail_url.detail, alt: @partner.get_name, title: @partner.get_name, class: "partner-img" %>
                </div>
            </div>
            <div class="col-md-6">
                <div class="details-col">
                    <ul>
                        <% if @partner.name.present? %>
                            <li>
                                <i class="fa fa-bookmark" aria-hidden="true"></i> <strong>Thương Hiệu: </strong><%= @partner.get_name %>
                            </li>
                        <% end %>
                        <% if @partner.birth.present? %>
                            <li>
                                <i class="fa fa-calendar-alt" aria-hidden="true"></i> <strong>Ngày thành lập: </strong><%= @partner.birth.strftime("%d-%m-%Y") %>
                            </li>
                        <% end %>
                        <% if @partner.owner.present? %>
                            <li>
                                <i class="fa fa-user" aria-hidden="true"></i> <strong>Chủ sở hữu: </strong><%= @partner.owner %>
                            </li>
                        <% end %>
                        <% if @partner.address.present? %>
                            <li>
                                <i class="fa fa-globe" aria-hidden="true"></i> <strong>Địa chỉ: </strong><%= @partner.address %>
                            </li>
                        <% end %>
                        <% if @partner.website.present? %>
                            <li>
                                <i class="fa fa-home" aria-hidden="true"></i> <strong>Website: </strong><%= link_to @partner.website, @partner.website, title: @partner.get_name %>
                            </li>
                        <% end %>
                    </ul>
                    <% if @partner.short_description.present? %>
                        <%= @partner.short_description.html_safe %>
                    <% end %>
                </div>
            </div>
            <% if @partner.letter.present? %>
                <div class="col-md-12">
                    <div class="details-col">
                        <h3>Thư Ngỏ</h3>
                        <%= @partner.letter.html_safe %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</section>