<% title @article.name %>
<!-- Page Title bar -->
<section class="defult-page-title overlay-black">
  <div class="container clearfix">
      <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
              <div class="page-title-box center991">
                  <div class="page-title-content">
                    <h1><%= @current_menu.parent_name %> <span><%= @current_menu.name %></span></h1>
                    <p>
                        <%= link_to "Trang chủ", erp_songhanhcts.home_path %> <i class="fa fa-angle-double-right"></i>
                        <%= link_to "Lĩnh vực hoạt động", "javascript:void(0)" %> <i class="fa fa-angle-double-right"></i>
                        <%= link_to @current_menu.parent_name, "javascript:void(0)" %> <i class="fa fa-angle-double-right"></i>
                        <%= link_to @current_menu.name, service_index_style_2_link(@current_menu) %> <i class="fa fa-angle-double-right"></i>
                        <%= link_to @article.name, "javascript:void(0)" %>
                    </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<!-- Blog Start -->
<section class="blog-details">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="blog-details-col">
                            <!--<img src="/songhanhcts/images/blog/3.jpg" alt="">-->
                            <h3 class="blog-title" style="text-align: justify; margin-top: 0;">
                                <%= @article.name %>
                            </h3>
                            <div class="blog-meta">
                                <span><i class="fa fa-user-o" aria-hidden="true"></i> SONG HANH cts </span>
                                <span><i class="fa fa-clock-o" aria-hidden="true"></i> <%= relative_time(@article.created_at) %></span>
                                <% if false %>
                                    <span><i class="fa fa-eye" aria-hidden="true"></i> <%= @article.views %> lượt xem</span>
                                <% end %>
                            </div>
                            <%= @article.content.html_safe %>
                        </div>
                    </div>
                </div>
                
                <% related_articles = @article.parent.children.get_active.where.not(id: @article.id) %>
                <% if related_articles.present? %>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="blog-details-col">
                                <div class="title">
                                    <h2>Bài viết khác về <%= @current_menu.name %></h2>
                                </div>
                                <ul class="otherlist">
                                    <% related_articles.each do |related_article| %>
                                        <li>
                                            <%=
                                                link_to "#{related_article.name} <span>[#{related_article.created_at.strftime('%d/%m/%Y')}]</span>".html_safe,
                                                    service_detail_style_2_link(related_article)
                                            %>
                                        </li>
                                    <% end %>
                                </ul>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="sidebar-col">
                    <% if true %>
                        <div class="categories">
                            <div class="sidebar-title">
                                <h3>Lĩnh vực <%= @current_menu.parent_name %></h3>
                            </div>
                            <ul class="clearfix">
                                <% sidebar_menus = @current_menu.parent.children.get_active %>
                                <% sidebar_menus.each do |menu| %>
                                    <li>
                                        <%= link_to menu.name, service_index_style_2_link(menu) %>
                                    </li>
                                <% end %>
                            </ul>
                        </div>
                    <% end %>
                    <% if true %>
                        <div class="sidebar-video">
                            <div class="sidebar-title">
                                <h3>Video</h3>
                            </div>
                            <div class="embed-responsive embed-responsive-16by9">
                              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/MkP5UxmgJho"></iframe>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div> 
        </div>
    </div>
</section>