<% title @current_menu.name %>
<!-- Page Title bar -->
<section class="defult-page-title overlay-black">
    <div class="container clearfix">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="page-title-box center991">
                    <div class="page-title-content">
                        <h1><span><%= @current_menu.name %></span></h1>
                        <%= link_to "Trang chủ", erp_songhanhcts.home_path %> <i class="fa fa-angle-double-right"></i>
                        <%= link_to "Lĩnh vực hoạt động", "javascript:void(0)" %> <i class="fa fa-angle-double-right"></i>
                        <%= link_to @current_menu.name, "javascript:void(0)" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Service Start -->
<section class="about-areas">
    <div class="container">
        <div class="row">
            <% if (@services.count >= 2) or @current_menu.only_show_image? %>
                <% @services.each_with_index do |service,index| %>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 fw-600">
                        <div class="blog-col wow fadeIn" data-wow-duration="1s" data-wow-delay=".0s">
                            <div class="blog-img">
                               <%= link_to image_tag(article_image(service.image.medium, 'medium'), alt: service.name), service_detail_link(service) %>
                            </div>
                         </div>
                    </div>
                <% end %>
            <% else %>
                <div class="col-lg-12 col-md-12">
                    <div class="about-col-two">
                        <% if @service.present? %>
                            <div>
                                <%= @service.content.html_safe %>
                            </div>
                        <% else %>
                            <div class="alert alert-warning">
                                <i class="fa fa-warning"></i> Chưa có nội dung bài viết.
                            </div>
                        <% end %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</section>

<!-- Our Services -->
<%= render "erp/songhanhcts/frontend/modules/service/service_style_articles", current_menu: @current_menu %>