<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noodp,index,follow">
    <meta name="author" content="SONG HANH cts, Công ty TNHH Sản Xuất Thương Mại Dịch Vụ Tư Vấn Song Hành cts">
    <meta name="copyright" content="SONG HANH cts [songhanhcts@gmail.com]">
    <!-- Meta SEO -->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <% if @meta_description.present? %>
	<meta name="description" content="<%= @meta_description %>">
	<% else %>
	<meta name="description" content="Công ty TNHH Sản Xuất Thương Mại Dịch Vụ Tư Vấn Song Hành cts">
	<% end %>
	<% if @meta_keywords.present? %>
	<meta name="keywords" content="<%= @meta_keywords %>">
	<% else %>
	<meta name="keywords" content="song hanh cts, san xuat ca phe, san xuat tra gung, coffee, trà gừng, quan tri nguon nhan luc, nhan dien thuong hieu, quan tri kinh doanh, tu van phap luat, marketing">
	<% end %>
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/songhanhcts/images/apple-favicon.png">
    <link rel="shortcut icon" type="image/png" href="/songhanhcts/images/favicon.png">
    
    <title>
        <% if content_for?(:title) %>
            <%= yield(:title) %> | SONG HANH cts
        <% else %>
            Công ty TNHH Sản Xuất Thương Mại Dịch Vụ Tư Vấn Song Hành cts | SONG HANH cts
        <% end %>
    </title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/songhanhcts/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="/songhanhcts/css/fontawesome-all.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/songhanhcts/css/style.css">
    <!-- Responsive stylesheet  -->
    <link rel="stylesheet" type="text/css" href="/songhanhcts/css/responsive.css">
    <!-- Custom CSS  -->
    <link rel="stylesheet" type="text/css" href="/songhanhcts/css/custom.css">
    <link rel="stylesheet" type="text/css" href="/songhanhcts/css/custom-ads-carousel.css">
    
    <!-- Fancybox CSS -->
    <%= stylesheet_link_tag "/songhanhcts/fancybox/jquery.fancybox.min.css" %>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    
    <!-- Preloader -->
    <%= render "erp/songhanhcts/frontend/modules/preloader" %>

    <!-- Main Header Start -->
    <%= render "erp/songhanhcts/frontend/modules/header" %>

    <%= yield %>
    
    <% @company_info = Erp::Contacts::Contact.get_main_contact %>
    <div id="callme">
        <div id="callmeMain">
            <a href="tel:<%= @company_info.phone %>" title="<%= @company_info.phone %>"></a>
			<span><%= @company_info.phone %></span>
        </div>
    </div>
    
    <!-- Advertising Start -->
    <%= render "erp/songhanhcts/frontend/modules/ads" %>

    <!-- Footer Start -->
    <%= render "erp/songhanhcts/frontend/modules/footer" %>

    <!-- Copyright Start -->
    <%= render "erp/songhanhcts/frontend/modules/copyright" %>
    
    <%= render "erp/songhanhcts/frontend/modules/javascripts" %>
    
    <script>
        $(document).ready(function () {
            if (window.screen.width > 1024) {
                $('#callme a').attr('href', 'javascript:void(0)');
                $('#callme').on('click', function () {
                    $(this).toggleClass('active');
                })
            }
            
            $( '[data-fancybox="images"]' ).fancybox({
                infobar : false,
                caption : function( instance, item ) {
                  var caption = $(this).data('caption') || '';
                  
                  return ( caption.length ? caption + '<br />' : '' ) + '<span data-fancybox-index></span> / <span data-fancybox-count></span>';
                },
                buttons: [
                    "zoom",
                    //"share",
                    "slideShow",
                    "fullScreen",
                    //"download",
                    "thumbs",
                    "close"
                ],
            });
        })
    </script>

</body>

</html>